ClienteSOAP/Formulario/Formulario/Connected Services/SWParticipante/SWParticipante.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Estadisticas" type="tns:Estadisticas" />
  <xs:element name="EstadisticasResponse" type="tns:EstadisticasResponse" />
  <xs:element name="actualizarParticipante" type="tns:actualizarParticipante" />
  <xs:element name="actualizarParticipanteResponse" type="tns:actualizarParticipanteResponse" />
  <xs:element name="buscarParticipante" type="tns:buscarParticipante" />
  <xs:element name="buscarParticipanteResponse" type="tns:buscarParticipanteResponse" />
  <xs:element name="crearParticipante" type="tns:crearParticipante" />
  <xs:element name="crearParticipanteResponse" type="tns:crearParticipanteResponse" />
  <xs:element name="eliminarParticipante" type="tns:eliminarParticipante" />
  <xs:element name="eliminarParticipanteResponse" type="tns:eliminarParticipanteResponse" />
  <xs:element name="filtrarParticipantePorApodo" type="tns:filtrarParticipantePorApodo" />
  <xs:element name="filtrarParticipantePorApodoResponse" type="tns:filtrarParticipantePorApodoResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="listarParticipantes" type="tns:listarParticipantes" />
  <xs:element name="listarParticipantesResponse" type="tns:listarParticipantesResponse" />
  <xs:element name="listarPartidosDeUnParticipante" type="tns:listarPartidosDeUnParticipante" />
  <xs:element name="listarPartidosDeUnParticipanteResponse" type="tns:listarPartidosDeUnParticipanteResponse" />
  <xs:element name="mesa" type="tns:mesa" />
  <xs:element name="participante" type="tns:participante" />
  <xs:element name="partido" type="tns:partido" />
  <xs:complexType name="crearParticipante">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg3" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="crearParticipanteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="filtrarParticipantePorApodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="filtrarParticipantePorApodoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:participante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="participante">
    <xs:sequence>
      <xs:element minOccurs="0" name="apodo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCaducidad" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInscripcion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarParticipante">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg3" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarParticipanteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarParticipante">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarParticipanteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:participante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarParticipante">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg3" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarParticipanteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Estadisticas">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EstadisticasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPartidosDeUnParticipante">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPartidosDeUnParticipanteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:partido" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="partido">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaProgramada" type="xs:dateTime" />
      <xs:element name="ganador" type="xs:int" />
      <xs:element minOccurs="0" name="horaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="mesa" type="tns:mesa" />
      <xs:element minOccurs="0" name="participante" type="tns:participante" />
      <xs:element minOccurs="0" name="participante1" type="tns:participante" />
      <xs:element minOccurs="0" name="partidoPK" type="tns:partidoPK" />
      <xs:element name="ronda" type="xs:int" />
      <xs:element minOccurs="0" name="torneo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mesa">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMesa" type="xs:int" />
      <xs:element minOccurs="0" name="localidad" type="xs:string" />
      <xs:element minOccurs="0" name="nombreLugar" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="partidoPK">
    <xs:sequence>
      <xs:element name="mesaId" type="xs:int" />
      <xs:element name="parcipante1" type="xs:int" />
      <xs:element name="parcipante2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarParticipantes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarParticipantesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:participante" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>