ClienteSOAP/Formulario/Formulario/Connected Services/ServiceMesa/ServicioWebMesaServiceSW.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://serviciosWeb/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServicioWebMesaServiceSW" targetNamespace="http://serviciosWeb/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:7101/Servidor-Servidor-context-root/ServicioWebMesaPort?xsd=1" namespace="http://serviciosWeb/" />
    </xsd:schema>
  </types>
  <message name="actualizarMesa">
    <part name="parameters" element="tns:actualizarMesa" />
  </message>
  <message name="actualizarMesaResponse">
    <part name="parameters" element="tns:actualizarMesaResponse" />
  </message>
  <message name="eliminarMesa">
    <part name="parameters" element="tns:eliminarMesa" />
  </message>
  <message name="eliminarMesaResponse">
    <part name="parameters" element="tns:eliminarMesaResponse" />
  </message>
  <message name="listarMesas">
    <part name="parameters" element="tns:listarMesas" />
  </message>
  <message name="listarMesasResponse">
    <part name="parameters" element="tns:listarMesasResponse" />
  </message>
  <message name="buscarMesa">
    <part name="parameters" element="tns:buscarMesa" />
  </message>
  <message name="buscarMesaResponse">
    <part name="parameters" element="tns:buscarMesaResponse" />
  </message>
  <message name="crearMesa">
    <part name="parameters" element="tns:crearMesa" />
  </message>
  <message name="crearMesaResponse">
    <part name="parameters" element="tns:crearMesaResponse" />
  </message>
  <portType name="ServicioWebMesa">
    <operation name="actualizarMesa">
      <input wsam:Action="http://serviciosWeb/ServicioWebMesa/actualizarMesaRequest" message="tns:actualizarMesa" />
      <output wsam:Action="http://serviciosWeb/ServicioWebMesa/actualizarMesaResponse" message="tns:actualizarMesaResponse" />
    </operation>
    <operation name="eliminarMesa">
      <input wsam:Action="http://serviciosWeb/ServicioWebMesa/eliminarMesaRequest" message="tns:eliminarMesa" />
      <output wsam:Action="http://serviciosWeb/ServicioWebMesa/eliminarMesaResponse" message="tns:eliminarMesaResponse" />
    </operation>
    <operation name="listarMesas">
      <input wsam:Action="http://serviciosWeb/ServicioWebMesa/listarMesasRequest" message="tns:listarMesas" />
      <output wsam:Action="http://serviciosWeb/ServicioWebMesa/listarMesasResponse" message="tns:listarMesasResponse" />
    </operation>
    <operation name="buscarMesa">
      <input wsam:Action="http://serviciosWeb/ServicioWebMesa/buscarMesaRequest" message="tns:buscarMesa" />
      <output wsam:Action="http://serviciosWeb/ServicioWebMesa/buscarMesaResponse" message="tns:buscarMesaResponse" />
    </operation>
    <operation name="crearMesa">
      <input wsam:Action="http://serviciosWeb/ServicioWebMesa/crearMesaRequest" message="tns:crearMesa" />
      <output wsam:Action="http://serviciosWeb/ServicioWebMesa/crearMesaResponse" message="tns:crearMesaResponse" />
    </operation>
  </portType>
  <binding name="ServicioWebMesaPortBinding" type="tns:ServicioWebMesa">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarMesa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarMesa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMesas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarMesa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearMesa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServicioWebMesaServiceSW">
    <port name="ServicioWebMesaPort" binding="tns:ServicioWebMesaPortBinding">
      <soap:address location="http://localhost:7101/Servidor-Servidor-context-root/ServicioWebMesaPort" />
    </port>
  </service>
</definitions>