ClienteSOAP/Formulario/Formulario/Connected Services/ServiceMesa/SWmesa.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarMesas" type="tns:listarMesas" />
  <xs:element name="listarMesasResponse" type="tns:listarMesasResponse" />
  <xs:element name="mesa" type="tns:mesa" />
  <xs:complexType name="listarMesas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarMesasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:mesa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mesa">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMesa" type="xs:int" />
      <xs:element minOccurs="0" name="localidad" type="xs:string" />
      <xs:element minOccurs="0" name="nombreLugar" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>