ClienteSOAP/Formulario/Formulario/Connected Services/SWPartido/SWPartido.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarPartido" type="tns:actualizarPartido" />
  <xs:element name="actualizarPartidoResponse" type="tns:actualizarPartidoResponse" />
  <xs:element name="crearPartido" type="tns:crearPartido" />
  <xs:element name="crearPartidoResponse" type="tns:crearPartidoResponse" />
  <xs:element name="eliminarPartido" type="tns:eliminarPartido" />
  <xs:element name="eliminarPartidoResponse" type="tns:eliminarPartidoResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="listarPorId" type="tns:listarPorId" />
  <xs:element name="listarPorIdResponse" type="tns:listarPorIdResponse" />
  <xs:element name="listarTodosLosPartidos" type="tns:listarTodosLosPartidos" />
  <xs:element name="listarTodosLosPartidosResponse" type="tns:listarTodosLosPartidosResponse" />
  <xs:element name="mesa" type="tns:mesa" />
  <xs:element name="participante" type="tns:participante" />
  <xs:element name="partido" type="tns:partido" />
  <xs:complexType name="crearPartido">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:int" />
      <xs:element name="arg4" type="xs:int" />
      <xs:element minOccurs="0" name="arg5" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg6" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg7" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg8" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="crearPartidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarPartido">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:int" />
      <xs:element name="arg4" type="xs:int" />
      <xs:element minOccurs="0" name="arg5" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg6" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg7" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg8" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarPartidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arq0" type="xs:int" />
      <xs:element minOccurs="0" name="arg1" type="xs:int" />
      <xs:element minOccurs="0" name="arg2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:partido" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="partido">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaProgramada" type="xs:dateTime" />
      <xs:element name="ganador" type="xs:int" />
      <xs:element minOccurs="0" name="horaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="mesa" type="tns:mesa" />
      <xs:element minOccurs="0" name="participante" type="tns:participante" />
      <xs:element minOccurs="0" name="participante1" type="tns:participante" />
      <xs:element minOccurs="0" name="partidoPK" type="tns:partidoPK" />
      <xs:element name="ronda" type="xs:int" />
      <xs:element minOccurs="0" name="torneo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mesa">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMesa" type="xs:int" />
      <xs:element minOccurs="0" name="localidad" type="xs:string" />
      <xs:element minOccurs="0" name="nombreLugar" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="participante">
    <xs:sequence>
      <xs:element minOccurs="0" name="apodo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCaducidad" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInscripcion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="partidoPK">
    <xs:sequence>
      <xs:element name="mesaId" type="xs:int" />
      <xs:element name="parcipante1" type="xs:int" />
      <xs:element name="parcipante2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPartido">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element name="arg2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPartidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosLosPartidos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosLosPartidosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:partido" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>